.faq.tac.section(data-aos="fade-up")
  .container
    h2.title FAQ’s
    br
    h3.subtitle Мы стремимся сделать использование нашего сервиса максимально простым и доступным. Ниже вы найдете ответы на распространенные вопросы. Вы также можете связаться с нашей дружелюбной 
      a(href="#") службой поддержки,
      | если у Вас есть какие-то дополнительные вопросы.
    .faq__wrap
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title What are the benefits of a digital money account?
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title What are the benefits of a digital money account?
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title Is a mobile money account safe?
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title Is a mobile money account safe?
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title How to get a mobile money account
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title How to get a mobile money account
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title What is Aizen?
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
      .faq__item
        svg.icon
          use(xlink:href='sprite.svg#angle')  
        .faq__item-title What is Aizen?
        .faq__item-drop
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
