.faq.tac.section(data-aos="fade-up")
  .container
    h2.title FAQ’s
    br
    .subtitle Ответы на часто задаваемые вопросы на сайте помогают клиентам получить необходимую информацию быстро и легко, без необходимости обращаться в службу поддержки. Это также снижает количество повторяющихся вопросов и ускоряет обработку запросов. Кроме того, наличие ответов на часто задаваемые вопросы на сайте повышает доверие клиентов к компании и улучшает их общее впечатление от сервиса. 
    
    .faq__wrap
      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')

        .faq__item-title Какие страны поддерживаются вашим сервисом доставки в Россию?
        .faq__item-drop
          p
            | Мы работаем с доставкой из США, Европы, Турции, ОАЭ и Кыргызстана в Россию.
      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')
 
        .faq__item-title Как долго занимает доставка из-за рубежа?
        .faq__item-drop
          p
            | Время доставки зависит от страны отправления и выбранного вами способа доставки. Мы доставляем товары из США, Турции, Европы, ОАЭ и Кыргызстана. Средний срок доставки из США составляет от 14 дней, из Турции от 5 дней, из Европы от 7 дней, из ОАЭ от 7 дней, а из Кыргызстана от 7 дней. Кроме того, мы предлагаем экспресс-доставку, которая может занять от 2 до 7 дней в зависимости от страны отправления и вашего местоположения.
      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')
  
        .faq__item-title Какие товары нельзя доставлять через ваш сервис?
        .faq__item-drop
          p
            | Мы не доставляем запрещенные к вывозу из страны товары, такие как наркотики, оружие, взрывчатые вещества, животные и растения, нарушающие законы международной торговли и другие подобные товары. Пожалуйста, ознакомьтесь с нашими правилами и ограничениями перед тем, как сделать заказ.

      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')
  
        .faq__item-title Какие способы оплаты доступны при заказе товаров?
        .faq__item-drop
          p
            | Мы принимаем оплату российскими банковскими картами (Visa, MasterCard, МИР) и криптовалютой (Bitcoin, Ethereum, Litecoin, Bitcoin Cash).
      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')
 
        .faq__item-title Какая компания доставляет мои товары и как я могу отслеживать их перемещение?
        .faq__item-drop
          p
            | Мы используем курьерские службы, такие как СДЭК, BoxBerry, Кит или Почта России для доставки товаров из-за рубежа в Россию. Вы можете отслеживать перемещение своей посылки через сайт выбранной курьерской службы, используя номер отслеживания, который мы предоставим вам после отправки товара.
      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')
  
        .faq__item-title Какие налоги и сборы будут взиматься при доставке моих товаров?
        .faq__item-drop
          p
            | При доставке товаров из-за рубежа в Россию могут быть взимаемы таможенные пошлины, налоги на добавленную стоимость и другие сборы. Их размер зависит от стоимости и характеристик товара, а также от страны, из которой он отправлен. Мы проводим все необходимые расчеты и выполняем формальности для минимизации налогов и сборов. Однако, если налоги или сборы все же будут взиматься, мы сообщим Вам об этом и предоставим всю необходимую информацию.
      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')
  
        .faq__item-title Могу ли я отменить свой заказ или вернуть товары?
        .faq__item-drop
          p
            | Да, вы можете отменить заказ или вернуть товары. Однако, правила отмены и возврата могут отличаться в зависимости от конкретного продавца или магазина, у которого вы сделали заказ. Пожалуйста, свяжитесь с нашей службой поддержки, чтобы уточнить подробности и получить инструкции по отмене или возврату товаров. Обратите внимание, что в некоторых случаях могут применяться дополнительные условия и комиссии.

      .faq__item
        svg(width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg').icon
          path(d='M24.5 12L16.5 20L8.5 12' stroke='#263238' stroke-width='1.5')
 
        .faq__item-title Что делать, если мой товар пришел поврежденным или не соответствует моим ожиданиям?
        .faq__item-drop
          p
            | Если ваш товар пришел поврежденным или не соответствует вашим ожиданиям, вам следует связаться с нашей службой поддержки клиентов. Мы постараемся решить проблему и найти наилучший способ ее урегулирования. Если товар был поврежден во время доставки, вам нужно будет предоставить доказательства повреждения, такие как фотографии. В некоторых случаях вам может потребоваться вернуть товар, чтобы получить полный возврат средств. Однако, правила возврата и возмещения могут отличаться в зависимости от страны отправления и получения, поэтому перед оформлением заказа обязательно ознакомьтесь с правилами возврата и возмещения нашего сервиса.
