footer.footer
  .footer__top
    .container 
      
      .footer__nav
        .footer__nav-col
          .footer__logo
            a(href="/")
              svg(width='150' height='31' viewBox='0 0 150 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M0 30.8001C1.38029 28.1392 3.4178 26.6517 6.50348 26.6435C11.1152 26.6273 15.7255 26.6273 20.3372 26.6192C20.9594 26.6192 21.5816 26.6192 22.5107 26.6192L21.007 22.8989C16.1487 22.8501 9.81898 22.8975 4.96905 22.8894C4.44075 22.8894 3.91246 22.8894 3.15295 22.8894C3.39958 22.1822 3.55372 21.6674 3.74991 21.1607C6.24704 14.743 9.35515 6.42447 11.8439 0C11.8439 0 12.0008 0.00406424 13.6025 0.00406424C16.5607 -0.00406457 16.5369 0.00406424 16.5369 0.00406424C18.1988 4.20124 20.916 10.8506 22.5695 15.0559C22.6802 15.3458 22.7405 15.6507 22.8344 15.9731C19.6212 16.0937 18.1203 14.9679 16.8676 12.2257C16.0072 10.3358 15.2224 8.52712 14.1658 6.15487C13.7819 7.11948 13.3895 8.0841 13.007 9.05008C11.9069 11.8166 10.0306 16.3768 8.93896 19.1501H11.1741H24.1362L28.6064 30.8068C19.041 30.8001 9.61439 30.8001 0 30.8001Z' fill='white')
                path(d='M48.9397 9.35205V25.1222H47.6238C47.4247 25.1222 47.2551 25.0894 47.1151 25.0237C46.975 24.9506 46.8423 24.8338 46.717 24.6732L37.9696 13.5465C37.9918 13.7582 38.0065 13.9699 38.0139 14.1817C38.0286 14.3861 38.036 14.5759 38.036 14.7511V25.1222H35.7579V9.35205H37.1071C37.2177 9.35205 37.3098 9.35935 37.3835 9.37395C37.4646 9.38125 37.5384 9.39951 37.6047 9.42871C37.6711 9.45792 37.7337 9.50172 37.7927 9.56013C37.8517 9.61854 37.9144 9.69155 37.9807 9.77916L46.7391 20.9168C46.717 20.6905 46.6985 20.4678 46.6838 20.2488C46.6764 20.0298 46.6727 19.8253 46.6727 19.6355V9.35205H48.9397Z' fill='white')
                path(d='M62.6762 23.0524L62.6651 25.1222H52.7345V9.35205H62.6651V11.4219H55.3333V16.1748H61.1943V18.179H55.3333V23.0524H62.6762Z' fill='white')
                path(d='M76.4368 11.4876H71.4715V25.1222H68.8949V11.4876H63.9185V9.35205H76.4368V11.4876Z' fill='white')
                path(d='M87.8537 22.9757V25.1222H78.653V9.35205H81.2407V22.9757H87.8537Z' fill='white')
                path(d='M92.6775 25.1222H90.0787V9.35205H92.6775V25.1222Z' fill='white')
                path(d='M109.776 9.35205L103.318 25.1222H100.984L94.5262 9.35205H96.5941C96.8227 9.35205 97.007 9.41046 97.147 9.52728C97.2871 9.63679 97.394 9.77551 97.4677 9.94343L101.57 20.2269C101.792 20.8037 101.994 21.4681 102.179 22.2201C102.26 21.8477 102.345 21.4936 102.433 21.1578C102.529 20.8219 102.632 20.5116 102.743 20.2269L106.834 9.94343C106.893 9.79741 106.997 9.66234 107.144 9.53823C107.291 9.41411 107.476 9.35205 107.697 9.35205H109.776Z' fill='white')
                path(d='M121.576 23.0524L121.565 25.1222H111.634V9.35205H121.565V11.4219H114.233V16.1748H120.094V18.179H114.233V23.0524H121.576Z' fill='white')
                path(d='M129 16.9086C129.59 16.9086 130.106 16.8392 130.548 16.7005C130.991 16.5545 131.359 16.3537 131.654 16.0982C131.949 15.8426 132.17 15.5397 132.318 15.1892C132.465 14.8315 132.539 14.4372 132.539 14.0064C132.539 13.1449 132.251 12.4878 131.676 12.0352C131.101 11.5825 130.231 11.3562 129.066 11.3562H126.965V16.9086H129ZM136.498 25.1222H134.186C133.729 25.1222 133.398 24.947 133.191 24.5965L129.475 19.2851C129.35 19.1025 129.214 18.9711 129.066 18.8908C128.919 18.8105 128.698 18.7703 128.403 18.7703H126.965V25.1222H124.378V9.35205H129.066C130.113 9.35205 131.013 9.45792 131.765 9.66964C132.524 9.88137 133.147 10.1844 133.634 10.5786C134.12 10.9656 134.478 11.4328 134.706 11.9804C134.942 12.528 135.06 13.1376 135.06 13.8093C135.06 14.3569 134.975 14.868 134.806 15.3425C134.644 15.8171 134.404 16.2479 134.087 16.6348C133.777 17.0218 133.394 17.3576 132.937 17.6423C132.48 17.9271 131.96 18.1498 131.378 18.3104C131.695 18.5002 131.967 18.7667 132.196 19.1098L136.498 25.1222Z' fill='white')
                path(d='M144.183 18.9456V25.1222H141.607V18.9456L135.79 9.35205H138.057C138.285 9.35205 138.466 9.40681 138.599 9.51632C138.731 9.62584 138.842 9.76456 138.93 9.93248L142.193 15.5835C142.34 15.8682 142.473 16.1383 142.591 16.3939C142.716 16.6494 142.827 16.9013 142.923 17.1495C143.004 16.894 143.103 16.6421 143.221 16.3939C143.339 16.1383 143.472 15.8682 143.619 15.5835L146.859 9.93248C146.933 9.78646 147.04 9.65504 147.18 9.53823C147.32 9.41411 147.501 9.35205 147.722 9.35205H150L144.183 18.9456Z' fill='white')

        each item in footerNav
          .footer__nav-col
            a(href="#").footer__nav-main-link=item.title
            ul
              each val in item.footerNavInside
                li 
                  a(href=val.link+".html")=val.item
          
        .footer__nav-col
          .footer__social.socials
            ul 
              each social in socials 
                li 
                  a(href="#")
                    svg
                      use(xlink:href='sprite.svg#'+social.img)
      
      //- .footer__control

      //-   .footer__lang.lang
      //-     span Русский
      //-     svg.icon
      //-       use(xlink:href='sprite.svg#angle-down-gray')
      //-     ul 
      //-       each lang in['Русский','English','Кыргыз тили','Türkçe','Deutsch']
      //-         li 
      //-           a(href="#")=lang 
                

  .footer__bottom
    .container 
      .footer__bottom-wrap
        p © 2023 AIZEN. Все права защищены.
        ul
          each item in[{"link":"products-order","page":"Товары которые можно заказать"},{"link":"privacy-policy","page":"Политика конфиденциальности"},{"link":"contract-offer","page":"Договор оферты"}] 
            li 
              a(href=item.link+".html")=item.page





















