.gradient-section(data-aos="fade-up" style="background-image: url('images/dist/section-bg1.webp')")
  .container 
    .gradient-section__wrap 
      .gradient-section__col
        h2.title.title--light Отправляйте ссылки на товары
        .gradient-section__subtitle Комиссия оператора за совершение заказа составляет 10% от стоимости заказа, но не менее 295 руб.
        p Мы свяжемся с Вами в течении дня и произведем заказ в телефонном режиме. После заказа пришлем Вам скриншот о подтверждении покупки.
          | Заказ товаров производим в течении дня с 10:00 до 19:00 понедельник-пятница. 

      .gradient-section__col 
        .gradient-section__img.gradient-section__img--bg
          img( loading="lazy" src="images/dist/flat1.webp", alt="")