.gradient-section(data-aos="fade-up")
  .container 
    .gradient-section__wrap 
      .gradient-section__col
        h2.title.title--light Доставка товаров по всей России
        br
        p Отправляем посылки до удобного для Вас пункта выдачи или постамата СДЭК, BoxBerry, Кит или отделения Почты России. После отправки Вам придет СМС с номером отслеживания и кодом получения.
      
        .gradient-section__delivery-brands
          img( loading="lazy" src="images/dist/partners.webp", alt="")
          //- each item,index in[224,130,275]
          //-   .gradient-section__delivery-item
          //-     svg(width=item)
          //-       use(xlink:href='sprite.svg#partner'+(index+1))
    
      .gradient-section__col
        .gradient-section__img.gradient-section__img
          img( loading="lazy" src="images/dist/flat2.webp", alt="") 