header.header 
  .container 
    .header__wrap
      .header__logo 
        a(href="/")
          svg(width='818' height='168' viewBox='0 0 818 168' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M0 167.963C7.52719 153.453 18.6384 145.34 35.4657 145.296C60.6149 145.207 85.7564 145.207 110.906 145.163C114.299 145.163 117.692 145.163 122.758 145.163L114.558 124.875C88.0643 124.609 53.5462 124.868 27.0979 124.823C24.2169 124.823 21.3359 124.823 17.1941 124.823C18.539 120.967 19.3796 118.159 20.4495 115.396C34.0672 80.3983 51.0168 35.0348 64.5886 0C64.5886 0 65.4445 0.0221637 74.1791 0.0221637C90.311 -0.0221655 90.1811 0.0221637 90.1811 0.0221637C99.2442 22.9108 114.062 59.172 123.079 82.1049C123.683 83.686 124.011 85.3483 124.523 87.1067C107.001 87.7643 98.8163 81.6247 91.9845 66.671C87.2924 56.3645 83.013 46.5013 77.2511 33.5645C75.1572 38.8249 73.0175 44.0853 70.9313 49.3531C64.9325 64.4398 54.7001 89.3084 48.7471 104.432H60.9358H131.623L156 168C103.837 167.963 52.4305 167.963 0 167.963Z' fill='url(#paint0_linear_636_4112)')
            path(d='M266.885 51V137H259.708C258.623 137 257.698 136.821 256.934 136.463C256.17 136.064 255.447 135.427 254.763 134.551L207.061 73.8736C207.182 75.0282 207.262 76.1829 207.302 77.3375C207.383 78.4523 207.423 79.4875 207.423 80.4431V137H195V51H202.357C202.96 51 203.463 51.0398 203.865 51.1194C204.307 51.1593 204.709 51.2588 205.071 51.4181C205.433 51.5773 205.775 51.8162 206.096 52.1347C206.418 52.4532 206.76 52.8514 207.121 53.3292L254.884 114.067C254.763 112.832 254.663 111.618 254.582 110.424C254.542 109.229 254.522 108.114 254.522 107.079V51H266.885Z' fill='black')
            path(d='M341.794 125.713L341.734 137H287.579V51H341.734V62.2875H301.751V88.2069H333.713V99.1361H301.751V125.713H341.794Z' fill='black')
            path(d='M416.835 62.6458H389.758V137H375.707V62.6458H348.569V51H416.835V62.6458Z' fill='black')
            path(d='M479.096 125.294V137H428.921V51H443.033V125.294H479.096Z' fill='black')
            path(d='M505.401 137H491.229V51H505.401V137Z' fill='black')
            path(d='M598.645 51L563.426 137H550.701L515.483 51H526.76C528.006 51 529.011 51.3185 529.775 51.9556C530.539 52.5528 531.122 53.3093 531.524 54.225L553.898 110.304C555.104 113.45 556.209 117.073 557.214 121.174C557.657 119.143 558.119 117.212 558.602 115.381C559.124 113.549 559.687 111.857 560.29 110.304L582.603 54.225C582.925 53.4287 583.488 52.6921 584.292 52.0153C585.096 51.3384 586.101 51 587.307 51H598.645Z' fill='black')
            path(d='M662.994 125.713L662.934 137H608.779V51H662.934V62.2875H622.951V88.2069H654.913V99.1361H622.951V125.713H662.994Z' fill='black')
            path(d='M703.48 92.2083C706.696 92.2083 709.511 91.8301 711.923 91.0736C714.335 90.2773 716.345 89.1824 717.953 87.7889C719.562 86.3954 720.768 84.7431 721.572 82.8319C722.376 80.881 722.778 78.731 722.778 76.3819C722.778 71.6838 721.21 68.1005 718.074 65.6319C714.938 63.1634 710.194 61.9292 703.842 61.9292H692.384V92.2083H703.48ZM744.367 137H731.763C729.271 137 727.462 136.044 726.336 134.133L706.073 105.168C705.39 104.173 704.646 103.456 703.842 103.018C703.038 102.58 701.832 102.361 700.223 102.361H692.384V137H678.272V51H703.842C709.551 51 714.456 51.5773 718.556 52.7319C722.697 53.8866 726.095 55.5389 728.748 57.6889C731.402 59.7991 733.352 62.3472 734.598 65.3333C735.884 68.3194 736.528 71.644 736.528 75.3069C736.528 78.2931 736.065 81.0801 735.141 83.6681C734.256 86.256 732.949 88.6051 731.221 90.7153C729.532 92.8255 727.442 94.6569 724.949 96.2097C722.456 97.7625 719.622 98.9769 716.446 99.8528C718.174 100.888 719.662 102.341 720.908 104.212L744.367 137Z' fill='black')
            path(d='M786.279 103.317V137H772.228V103.317L740.507 51H752.87C754.116 51 755.101 51.2986 755.825 51.8958C756.548 52.4931 757.151 53.2495 757.634 54.1653L775.424 84.9819C776.228 86.5347 776.952 88.0079 777.595 89.4014C778.279 90.7949 778.882 92.1685 779.404 93.5222C779.846 92.1287 780.389 90.7551 781.032 89.4014C781.676 88.0079 782.399 86.5347 783.203 84.9819L800.873 54.1653C801.275 53.369 801.858 52.6523 802.622 52.0153C803.386 51.3384 804.371 51 805.577 51H818L786.279 103.317Z' fill='black')
            defs
              lineargradient#paint0_linear_636_4112(x1='172.769' y1='14.7608' x2='25.2263' y2='189.7' gradientUnits='userSpaceOnUse')
                stop(stop-color='#562583')
                stop(offset='1' stop-color='#5740A0')



          
          
      .header__nav 
        ul 
          each nav in[{"link":"about","page":"О компании"},{"link":"how_to_buy","page":"Как купить"},{"link":"where_to_buy","page":"Где купить"},{"link":"commision","page":"Комиссия"},{"link":"faq","page":"FAQ"} ]      
            li 
              a(href=nav.link+".html")=nav.page 
      .header__control
        a(href="#").btn.consultation-js Получить консультацию

        //- .header__lang
          .header__lang-seleced 
            img( loading="lazy" src="images/dist/kg.webp", alt="")
            svg.icon
              use(xlink:href='sprite.svg#angle-down-lang')

          .header__lang-dropdown
              
            p Выберите язык
            .header__lang-list
              each lang in langs
                .header__lang-item
                  a(href=lang.link) 
                    img( loading="lazy" src="images/dist/"+lang.flag+".webp", alt="") 
                    .header__lang-name=lang.lang        

        .hamburger.hamburger--header 
          span             