.menu
  .container
    .menu__logo
      a(href="/")
        svg(width='140' height='29' viewBox='0 0 140 29' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0 28.7467C1.28827 26.2633 3.18994 24.8749 6.06992 24.8673C10.3742 24.8521 14.6771 24.8521 18.9814 24.8445C19.5621 24.8445 20.1428 24.8445 21.0099 24.8445L19.6066 21.3723C15.0721 21.3268 9.16438 21.371 4.63778 21.3634C4.1447 21.3634 3.65163 21.3634 2.94275 21.3634C3.17294 20.7034 3.31681 20.2229 3.49991 19.7499C5.83057 13.7601 8.73147 5.99617 11.0543 0C11.0543 0 11.2008 0.00379329 12.6957 0.00379329C15.4566 -0.0037936 15.4344 0.00379329 15.4344 0.00379329C16.9856 3.92116 19.5216 10.1272 21.0649 14.0522C21.1682 14.3228 21.2244 14.6073 21.3121 14.9082C18.3131 15.0208 16.9123 13.97 15.7431 11.4107C14.94 9.64673 14.2076 7.95865 13.2215 5.74454C12.8631 6.64485 12.4969 7.54516 12.1398 8.44674C11.1131 11.0288 9.36188 15.2851 8.34303 17.8735H10.4291H22.5271L26.6993 28.7531C17.7716 28.7467 8.97343 28.7467 0 28.7467Z' fill='white')
          path(d='M45.6771 8.72852V23.4473H44.4489C44.2631 23.4473 44.1048 23.4167 43.9741 23.3554C43.8433 23.2872 43.7195 23.1782 43.6025 23.0283L35.4383 12.6433C35.459 12.8409 35.4728 13.0385 35.4796 13.2362C35.4934 13.427 35.5003 13.6041 35.5003 13.7677V23.4473H33.3741V8.72852H34.6333C34.7365 8.72852 34.8225 8.73533 34.8913 8.74896C34.967 8.75577 35.0358 8.77281 35.0977 8.80007C35.1597 8.82732 35.2182 8.86821 35.2732 8.92272C35.3283 8.97724 35.3867 9.04538 35.4487 9.12715L43.6231 19.5223C43.6025 19.3111 43.5853 19.1032 43.5715 18.8988C43.5647 18.6944 43.5612 18.5036 43.5612 18.3264V8.72852H45.6771Z' fill='white')
          path(d='M58.4978 21.5155L58.4874 23.4473H49.2189V8.72852H58.4874V10.6604H51.6444V15.0965H57.1147V16.967H51.6444V21.5155H58.4978Z' fill='white')
          path(d='M71.341 10.7217H66.7068V23.4473H64.3019V10.7217H59.6573V8.72852H71.341V10.7217Z' fill='white')
          path(d='M81.9968 21.4439V23.4473H73.4095V8.72852H75.8247V21.4439H81.9968Z' fill='white')
          path(d='M86.499 23.4473H84.0735V8.72852H86.499V23.4473Z' fill='white')
          path(d='M102.458 8.72852L96.4299 23.4473H94.2521L88.2244 8.72852H90.1545C90.3678 8.72852 90.5399 8.78303 90.6706 8.89206C90.8013 8.99427 90.9011 9.12374 90.9699 9.28047L94.7991 18.8784C95.0055 19.4167 95.1948 20.0368 95.3668 20.7387C95.4425 20.3911 95.5216 20.0607 95.6042 19.7472C95.6936 19.4337 95.79 19.1441 95.8932 18.8784L99.7121 9.28047C99.7671 9.14419 99.8634 9.01812 100.001 8.90228C100.139 8.78644 100.311 8.72852 100.517 8.72852H102.458Z' fill='white')
          path(d='M113.471 21.5155L113.461 23.4473H104.192V8.72852H113.461V10.6604H106.617V15.0965H112.088V16.967H106.617V21.5155H113.471Z' fill='white')
          path(d='M120.4 15.7813C120.95 15.7813 121.432 15.7166 121.845 15.5871C122.258 15.4508 122.602 15.2634 122.877 15.0249C123.152 14.7864 123.359 14.5036 123.496 14.1765C123.634 13.8426 123.703 13.4747 123.703 13.0726C123.703 12.2685 123.434 11.6552 122.898 11.2328C122.361 10.8103 121.549 10.599 120.462 10.599H118.501V15.7813H120.4ZM127.398 23.4473H125.241C124.814 23.4473 124.504 23.2838 124.312 22.9567L120.844 17.9993C120.727 17.829 120.6 17.7063 120.462 17.6314C120.324 17.5564 120.118 17.5189 119.843 17.5189H118.501V23.4473H116.086V8.72852H120.462C121.439 8.72852 122.278 8.82732 122.98 9.02494C123.689 9.22255 124.27 9.50534 124.725 9.87331C125.179 10.2345 125.512 10.6706 125.726 11.1817C125.946 11.6927 126.056 12.2617 126.056 12.8886C126.056 13.3997 125.977 13.8767 125.819 14.3196C125.667 14.7626 125.444 15.1646 125.148 15.5258C124.859 15.8869 124.501 16.2004 124.074 16.4661C123.648 16.7319 123.163 16.9397 122.619 17.0896C122.915 17.2668 123.17 17.5155 123.383 17.8358L127.398 23.4473Z' fill='white')
          path(d='M134.571 17.6825V23.4473H132.166V17.6825L126.737 8.72852H128.853C129.066 8.72852 129.235 8.77962 129.359 8.88184C129.483 8.98405 129.586 9.11352 129.668 9.27025L132.713 14.5445C132.851 14.8103 132.975 15.0624 133.085 15.3009C133.202 15.5394 133.305 15.7745 133.394 16.0062C133.47 15.7677 133.563 15.5326 133.673 15.3009C133.783 15.0624 133.907 14.8103 134.045 14.5445L137.069 9.27025C137.138 9.13396 137.237 9.01131 137.368 8.90228C137.499 8.78644 137.667 8.72852 137.874 8.72852H140L134.571 17.6825Z' fill='white')

    .menu__nav 
      ul 
        each nav in[{"link":"index","page":"Главная"},{"link":"about","page":"О компании"},{"link":"how_to_buy","page":"Как купить"},{"link":"where_to_buy","page":"Где купить"},{"link":"commision","page":"Комиссия"},{"link":"faq","page":"FAQ"} ]      
          li 
            a(href=nav.link+".html")=nav.page 

      a(href="#").btn.consultation-js Получить консультацию

    .socials
      ul 
        each social in socials 
          li 
            a(href="#")
              svg
                use(xlink:href='sprite.svg#'+social.img)
        
