.order(data-aos="fade-up" style="background-image: url('images/dist/section-bg1.webp')")#order
  .container
    .order__wrap
      .order__col
        form(method="post").form
          input(type='hidden' name='project_name' value='Netlivery')
          input(type='hidden' name='admin_email' value='250296a@gmail.com')
          input(type='hidden' name='form_subject' value='Netlivery')
          .order__form 
            h2.order__title.title Мы купим товары для Вас

            .form-wrap
              .form-wrap__input 
                input(type="text" placeholder="ФИО" name="Имя")
              .form-wrap__input.form-wrap__input--half 
                input(type="text" placeholder="Телефон" name="Телефон")
              .form-wrap__input.form-wrap__input--half 
                input(type="text" placeholder="Email" name="Email")
              .form-wrap__input 
                input(type="text" placeholder="Ваш город" name="Город")
              .form-wrap__input 
                input(type="text" placeholder="Ваш адрес" name="Адрес")
              .form-wrap__select 
                input(type="text" name="Сайт" value="").input__selected
                .icon
                  svg
                    use(xlink:href='sprite.svg#angle')
                .form-wrap__selected(data-value="Выберите сайт с которого будет производится заказ") Выберите сайт с которого будет производится заказ
                .form-wrap__dropdown 
                  .form-wrap__option(data-value="Сайт 1") Сайт 1
                  .form-wrap__option(data-value="Сайт 2") Сайт 2
                  .form-wrap__option(data-value="Сайт 3") Сайт 3

              .form-wrap__link 
                input(type="text" placeholder="Введите ссылку на товар" name="Ссылка_на_товар").order-link-js
                //- .icon
                //-   svg
                //-     use(xlink:href='sprite.svg#plus')
              .form-wrap__checkbox 
                input(type="checkbox")#agree
                label(for="agree") <span>Я принимаю соглашение </span>
                  a(href="#") договора оферты 

              button(type="submit" disabled).btn Заказать  

              p.agree Нажимая на кнопку ЗАКАЗАТЬ, вы соглашаетесь с 
                a(href="#") политикой обработки  персональных данных и конфиденциальности
      
      .order__col
        .order__img 
          img( loading="lazy" src="images/dist/order.webp", alt="")

        ul 
          li
            svg.icon(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M20.5303 6.46967C20.8232 6.76256 20.8232 7.23744 20.5303 7.53033L10.5303 17.5303C10.2374 17.8232 9.76256 17.8232 9.46967 17.5303L4.46967 12.5303C4.17678 12.2374 4.17678 11.7626 4.46967 11.4697C4.76256 11.1768 5.23744 11.1768 5.53033 11.4697L10 15.9393L19.4697 6.46967C19.7626 6.17678 20.2374 6.17678 20.5303 6.46967Z' fill='white' stroke='white' stroke-linecap='round' stroke-linejoin='round')

            | Принимаем оплату картами российских банков и криптовалютой
          li
            img(loading="lazy" src="images/dist/pay-systems2.webp", alt="")
          each item in['Берем на себя оформление заказа и общение с продавцом','Применим все скидки и купоны магазина, если они есть','Доставим даже из тех магазинов, которые не везут к нам']
            li
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg').icon
                path(fill-rule='evenodd' clip-rule='evenodd' d='M20.5303 6.46967C20.8232 6.76256 20.8232 7.23744 20.5303 7.53033L10.5303 17.5303C10.2374 17.8232 9.76256 17.8232 9.46967 17.5303L4.46967 12.5303C4.17678 12.2374 4.17678 11.7626 4.46967 11.4697C4.76256 11.1768 5.23744 11.1768 5.53033 11.4697L10 15.9393L19.4697 6.46967C19.7626 6.17678 20.2374 6.17678 20.5303 6.46967Z' fill='white' stroke='white' stroke-linecap='round' stroke-linejoin='round')

              =item  