.order(style="background-image: url('images/dist/section-bg1.webp')")#order
  .container
    
    h2.title.title--light Напишите нашему телеграмм-боту чтобы сделать заказ!
    br
    .subtitle Чтобы сделать заказ, перейдите к нашему боту.
      | Оставьте свою заявку, а далее мы поможем Вам на дальнейший этапах заказа.
    br
    .order__wrap
      .order__col.order__col--iherb-col
        //- form(method="post").form
        //-   input(type='hidden' name='project_name' value='Netlivery')
        //-   input(type='hidden' name='admin_email' value='250296a@gmail.com')
        //-   input(type='hidden' name='form_subject' value='Netlivery')
        //-   .order__form 
        //-     h2.order__title.title Оформление заказа

        //-     .form-wrap
        //-       .form-wrap__input 
        //-         input(type="text" placeholder="ФИО" name="Имя")
        //-       .form-wrap__input.form-wrap__input--half 
        //-         input(type="text" placeholder="Телефон" name="Телефон")
        //-       .form-wrap__input.form-wrap__input--half 
        //-         input(type="text" placeholder="Email" name="Email")
        //-       .form-wrap__textarea
        //-         <textarea name="Ccылка" placeholder="Ссылка на корзину или на отдельные товары"></textarea> 
              
        //-       .form-wrap__checkbox 
        //-         input(type="checkbox")#agree
        //-         label(for="agree") <span>Я принимаю соглашение </span>
        //-           a(href="#") договора оферты 

        //-       button(type="submit" disabled).btn Заказать  

        //-       p Нажимая на кнопку ЗАКАЗАТЬ, вы соглашаетесь с 
        //-         a(href="#") политикой обработки  персональных данных и конфиденциальности

        .order__form
          .order__bot
            .order__logo
              svg(width='62' height='68' viewBox='0 0 62 68' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.0932617 67.332C3.07583 61.5716 7.47852 58.3512 14.1461 58.3336C24.1113 58.2984 34.0733 58.2984 44.0384 58.2808C45.3829 58.2808 46.7273 58.2808 48.7348 58.2808L45.4858 50.2268C34.9878 50.1212 21.3104 50.2238 10.8305 50.2062C9.68895 50.2062 8.5474 50.2062 6.90623 50.2062C7.43916 48.6752 7.77224 47.5607 8.19616 46.4637C13.592 32.5702 20.3081 14.5616 25.6858 0.65332C25.6858 0.65332 26.0249 0.662119 29.4859 0.662119C35.878 0.644521 35.8265 0.662119 35.8265 0.662119C39.4177 9.74853 45.289 24.1437 48.862 33.2477C49.1012 33.8753 49.2314 34.5353 49.4343 35.2333C42.4911 35.4943 39.2482 33.057 36.5411 27.1207C34.682 23.0291 32.9863 19.1136 30.7032 13.9779C29.8735 16.0662 29.0257 18.1545 28.199 20.2457C25.8221 26.2349 21.7676 36.1073 19.4088 42.1112H24.2384H52.2473L61.9066 67.3467C41.2376 67.332 20.8683 67.332 0.0932617 67.332Z' fill='#5740A0')
              
              

            h2 NetliveryBot
            span @NetliveryBot 
            a(href="https://t.me/NetliveryBot" target="_blank").btn Перейти к боту 
        p.tac Чтобы сделать заказ, перейдите к нашему боту.
          | Оставьте свою заявку, а далее мы поможем Вам на дальнейший этапах заказа. 

        br
        ul 
          li
            svg.icon(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M20.5303 6.46967C20.8232 6.76256 20.8232 7.23744 20.5303 7.53033L10.5303 17.5303C10.2374 17.8232 9.76256 17.8232 9.46967 17.5303L4.46967 12.5303C4.17678 12.2374 4.17678 11.7626 4.46967 11.4697C4.76256 11.1768 5.23744 11.1768 5.53033 11.4697L10 15.9393L19.4697 6.46967C19.7626 6.17678 20.2374 6.17678 20.5303 6.46967Z' fill='white' stroke='white' stroke-linecap='round' stroke-linejoin='round')

            | Принимаем оплату картами российских банков и криптовалютой
          li
            img(loading="lazy" src="images/dist/pay-systems2.webp", alt="")
          each item in['Берем на себя оформление заказа и общение с продавцом','Применим все скидки и купоны магазина, если они есть','Доставим даже из тех магазинов, которые не везут к нам']
            li
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg').icon
                path(fill-rule='evenodd' clip-rule='evenodd' d='M20.5303 6.46967C20.8232 6.76256 20.8232 7.23744 20.5303 7.53033L10.5303 17.5303C10.2374 17.8232 9.76256 17.8232 9.46967 17.5303L4.46967 12.5303C4.17678 12.2374 4.17678 11.7626 4.46967 11.4697C4.76256 11.1768 5.23744 11.1768 5.53033 11.4697L10 15.9393L19.4697 6.46967C19.7626 6.17678 20.2374 6.17678 20.5303 6.46967Z' fill='white' stroke='white' stroke-linecap='round' stroke-linejoin='round')

              =item   
      .order__arrow.desk.desk--iherb
        svg(width='807' height='274' viewBox='0 0 807 274' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0 268L22.4965 273.22L15.7684 251.127L0 268ZM721 12L721.528 13.9292L721 12ZM141.351 174.19C135.39 171.389 131.58 167.865 129.385 164.078C127.193 160.297 126.526 156.109 127.092 151.816C128.236 143.154 134.422 134.116 143.04 127.938C151.64 121.774 162.302 118.712 172.165 121.465C181.945 124.195 191.492 132.799 197.603 151.132L201.397 149.867C195.008 130.7 184.68 120.805 173.241 117.612C161.886 114.444 149.985 118.038 140.71 124.687C131.453 131.322 124.452 141.252 123.127 151.293C122.459 156.352 123.237 161.449 125.924 166.084C128.607 170.713 133.11 174.736 139.649 177.81L141.351 174.19ZM197.603 151.132C201.974 164.245 198.251 176.016 188.638 186.895C178.949 197.859 163.384 207.759 144.522 216.765C106.818 234.77 56.7872 248.827 16.6452 260.84L17.792 264.672C57.7735 252.707 108.188 238.548 146.246 220.375C165.264 211.293 181.41 201.114 191.635 189.543C201.935 177.887 206.331 164.667 201.397 149.867L197.603 151.132ZM789 45.5C790.094 45.5 791.169 45.0354 792.073 44.5038C793.026 43.9435 794.026 43.166 795.021 42.2486C797.015 40.4105 799.14 37.8719 801.008 34.9688C804.679 29.2635 807.696 21.6039 806.065 14.7749C805.23 11.2766 803.194 8.10618 799.628 5.65735C796.105 3.23822 791.171 1.57597 784.569 0.859249C771.395 -0.571083 751.043 1.71024 720.472 10.0709L721.528 13.9292C751.95 5.60912 771.719 3.4876 784.138 4.83588C790.333 5.50847 794.562 7.03089 797.364 8.95475C800.122 10.8489 801.572 13.1798 802.174 15.7041C803.42 20.9203 801.127 27.3909 797.644 32.8045C795.935 35.4609 794.022 37.729 792.31 39.3077C791.452 40.0987 790.681 40.6821 790.046 41.0557C789.73 41.2415 789.474 41.3598 789.278 41.4287C789.077 41.4996 788.991 41.5 789 41.5V45.5ZM720.472 10.0709C646.246 30.3707 513.482 77.2909 393.256 116.123C333.097 135.554 276.061 152.966 230.959 164.052C208.403 169.596 188.884 173.544 173.478 175.378C165.774 176.295 159.144 176.678 153.703 176.478C148.226 176.277 144.118 175.491 141.351 174.19L139.649 177.81C143.132 179.447 147.869 180.267 153.556 180.475C159.278 180.685 166.13 180.281 173.951 179.35C189.593 177.488 209.293 173.496 231.913 167.936C277.163 156.814 334.313 139.365 394.486 119.929C514.923 81.029 647.41 34.1993 721.528 13.9292L720.472 10.0709Z' fill='#FFC220')
     
      
      .order__arrow.desk.mobile--iherb
        svg(width='755' height='201' viewBox='0 0 755 201' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M211 37L209.103 37.6325L211 37ZM0 157L22.4599 162.375L15.8846 140.237L0 157ZM155.851 56.19C141.576 49.4809 136.872 40.6446 137.34 32.5896C137.822 24.3165 143.781 16.0405 152.543 10.6826C161.263 5.35107 172.4 3.14642 182.768 6.6366C193.07 10.1043 203.001 19.3282 209.103 37.6325L212.897 36.3675C206.499 17.1718 195.805 6.80448 184.044 2.84562C172.35 -1.09074 159.987 1.44276 150.457 7.26999C140.969 13.0709 133.928 22.3742 133.347 32.3572C132.753 42.5581 138.924 52.6543 154.149 59.8101L155.851 56.19ZM209.103 37.6325C214.107 52.6452 210.05 65.5436 199.652 77.03C189.157 88.624 172.263 98.6773 151.918 107.585C111.235 125.398 57.7532 138.23 16.7102 149.951L17.8086 153.797C58.5709 142.157 112.511 129.206 153.522 111.249C174.025 102.272 191.547 91.9443 202.617 79.7144C213.786 67.3769 218.445 53.0091 212.897 36.3675L209.103 37.6325ZM718.716 200.088C731.211 190.52 740.267 181.628 746.172 173.338C752.079 165.046 754.911 157.244 754.741 149.913C754.398 135.142 742.005 123.621 722.495 114.509C702.841 105.33 675.18 98.2086 642.65 92.5888C610.089 86.9637 572.519 82.8223 532.972 79.6551C453.885 73.3213 366.748 70.8738 295.768 68.2781C260.262 66.9796 228.813 65.6447 204.404 63.7702C192.199 62.8329 181.786 61.7629 173.523 60.5007C165.199 59.2293 159.253 57.7893 155.851 56.19L154.149 59.8101C158.122 61.6771 164.574 63.1803 172.919 64.4549C181.324 65.7388 191.849 66.8178 204.098 67.7585C228.597 69.64 260.121 70.9772 295.622 72.2754C366.658 74.8731 453.677 77.3174 532.653 83.6424C572.138 86.8046 609.575 90.9342 641.969 96.5304C674.394 102.132 701.636 109.182 720.802 118.133C740.112 127.152 750.457 137.721 750.742 150.006C750.885 156.204 748.503 163.172 742.914 171.018C737.323 178.866 728.601 187.48 716.284 196.912L718.716 200.088Z' fill='#FFC220')

        
      .order__col(style="margin-bottom: 40px")

        .order__switch-wrap
          .order__switch-label.order__switch-label--mobile Mobile

          .order__switch 
            .order__switch-slider 

          .order__switch-label.order__switch-label--desktop Desktop
          
        
        .order__img.order__img--mobile 
          img( loading="lazy" src="images/dist/order2.webp", alt="" style="max-width:390px")
          
          .order__arrow.mobile.mobile--iherb
            svg(width='101' height='293' viewBox='0 0 101 293' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.500055 293L9.89349 271.903L23.4676 290.586L0.500055 293ZM59.7931 109.428C62.485 114.763 65.603 118.107 68.7557 120.012C71.8905 121.907 75.1713 122.45 78.3555 122.007C84.8111 121.109 91.0207 116.109 94.3198 109.718C97.5947 103.375 97.7845 96.1413 93.0043 90.6059C88.1266 84.9575 77.6015 80.4855 58.0603 81.0017L57.9547 77.0031C77.9282 76.4754 89.9782 80.9815 96.0318 87.9915C102.183 95.1145 101.66 104.22 97.8741 111.553C94.1123 118.84 86.9128 124.855 78.9067 125.969C74.8601 126.532 70.6468 125.829 66.6865 123.436C62.7441 121.053 59.1657 117.064 56.222 111.23L59.7931 109.428ZM58.0603 81.0017C51.1598 81.184 46.4079 83.4587 43.0669 87.2415C39.6604 91.0985 37.5325 96.7352 36.3789 103.967C34.0634 118.483 35.8075 138.376 37.6713 160.35C39.5231 182.184 41.4705 205.916 39.373 227.673C37.2755 249.43 31.1081 269.523 16.4649 283.847L13.6678 280.988C27.3415 267.612 33.3349 248.622 35.3915 227.289C37.4482 205.955 35.5431 182.588 33.6856 160.688C31.84 138.928 30.0179 118.451 32.4288 103.337C33.6385 95.754 35.947 89.2604 40.0688 84.5936C44.2561 79.8526 50.1244 77.21 57.9547 77.0031L58.0603 81.0017ZM39.6547 0.909991C46.9291 0.654853 52.5423 1.45117 56.75 3.28465C61.0335 5.1512 63.7954 8.06845 65.3123 11.8173C66.7956 15.4832 67.0294 19.7956 66.6062 24.4217C66.1817 29.0619 65.0765 34.1994 63.7282 39.601C61.0061 50.5058 57.3007 62.5106 55.638 74.6875C53.9819 86.8153 54.416 98.7722 59.7931 109.428L56.222 111.23C50.3279 99.5496 49.9659 86.6606 51.6748 74.1464C53.3769 61.6814 57.1972 49.2483 59.8472 38.6322C61.1849 33.2735 62.2274 28.3797 62.6229 24.0573C63.0196 19.7206 62.7457 16.1386 61.6043 13.3177C60.4965 10.5798 58.5166 8.41771 55.1521 6.95164C51.7117 5.45249 46.7706 4.66287 39.795 4.90754L39.6547 0.909991Z' fill='#FFC220')
            
        .order__img.order__img--desktop 
          img( loading="lazy" src="images/dist/order4.webp", alt="" )
          
        ul 
          li
            svg.icon(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M20.5303 6.46967C20.8232 6.76256 20.8232 7.23744 20.5303 7.53033L10.5303 17.5303C10.2374 17.8232 9.76256 17.8232 9.46967 17.5303L4.46967 12.5303C4.17678 12.2374 4.17678 11.7626 4.46967 11.4697C4.76256 11.1768 5.23744 11.1768 5.53033 11.4697L10 15.9393L19.4697 6.46967C19.7626 6.17678 20.2374 6.17678 20.5303 6.46967Z' fill='white' stroke='white' stroke-linecap='round' stroke-linejoin='round')

            | Принимаем оплату картами российских банков и криптовалютой
          li
            img(loading="lazy" src="images/dist/pay-systems2.webp", alt="")
          each item in['Берем на себя оформление заказа и общение с продавцом','Применим все скидки и купоны магазина, если они есть','Доставим даже из тех магазинов, которые не везут к нам']
            li
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg').icon
                path(fill-rule='evenodd' clip-rule='evenodd' d='M20.5303 6.46967C20.8232 6.76256 20.8232 7.23744 20.5303 7.53033L10.5303 17.5303C10.2374 17.8232 9.76256 17.8232 9.46967 17.5303L4.46967 12.5303C4.17678 12.2374 4.17678 11.7626 4.46967 11.4697C4.76256 11.1768 5.23744 11.1768 5.53033 11.4697L10 15.9393L19.4697 6.46967C19.7626 6.17678 20.2374 6.17678 20.5303 6.46967Z' fill='white' stroke='white' stroke-linecap='round' stroke-linejoin='round')

              =item  