.order(data-aos="fade-up" style="background-image: url('images/dist/section-bg1.webp')")#order
  .container
    h2.title.title--light.tac Напишите нашему телеграмм-боту чтобы сделать заказ!
    br
    .subtitle.subtitle--light Чтобы сделать заказ, перейдите к нашему боту.
      | Оставьте свою заявку, а далее мы поможем Вам на дальнейший этапах заказа. 
    br
    .order__wrap
      .order__col
        .order__form
          .order__bot
            .order__logo
              svg(width='62' height='68' viewBox='0 0 62 68' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.0932617 67.332C3.07583 61.5716 7.47852 58.3512 14.1461 58.3336C24.1113 58.2984 34.0733 58.2984 44.0384 58.2808C45.3829 58.2808 46.7273 58.2808 48.7348 58.2808L45.4858 50.2268C34.9878 50.1212 21.3104 50.2238 10.8305 50.2062C9.68895 50.2062 8.5474 50.2062 6.90623 50.2062C7.43916 48.6752 7.77224 47.5607 8.19616 46.4637C13.592 32.5702 20.3081 14.5616 25.6858 0.65332C25.6858 0.65332 26.0249 0.662119 29.4859 0.662119C35.878 0.644521 35.8265 0.662119 35.8265 0.662119C39.4177 9.74853 45.289 24.1437 48.862 33.2477C49.1012 33.8753 49.2314 34.5353 49.4343 35.2333C42.4911 35.4943 39.2482 33.057 36.5411 27.1207C34.682 23.0291 32.9863 19.1136 30.7032 13.9779C29.8735 16.0662 29.0257 18.1545 28.199 20.2457C25.8221 26.2349 21.7676 36.1073 19.4088 42.1112H24.2384H52.2473L61.9066 67.3467C41.2376 67.332 20.8683 67.332 0.0932617 67.332Z' fill='#5740A0')
              
              

            h2 NetliveryBot
            span @NetliveryBot 
            a(href="https://t.me/NetliveryBot" target="_blank").btn Перейти к боту 
        p.tac Чтобы сделать заказ, перейдите к нашему боту.
          | Оставьте свою заявку, а далее мы поможем Вам на дальнейший этапах заказа. 
          
        br
        ul 
          li
            svg.icon
              use(xlink:href='sprite.svg#check')
            | Принимаем оплату картами российских банков и криптовалютой
          li
            img(loading="lazy" src="images/dist/pay-systems2.webp", alt="")
          each item in['Берем на себя оформление заказа и общение с продавцом','Применим все скидки и купоны магазина, если они есть','Доставим даже из тех магазинов, которые не везут к нам']
            li
              svg.icon
                use(xlink:href='sprite.svg#check')
              =item  
      
      .order__arrow.desk
        svg(width='504' height='174' viewBox='0 0 504 174' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0 168L22.4965 173.219L15.7684 151.127L0 168ZM504 0.5C443.671 0.500245 363.485 22.9762 293.296 41.7556C258.121 51.1668 225.452 59.6547 198.871 64.0187C185.582 66.2005 173.893 67.3375 164.222 67.0624C154.508 66.786 147.075 65.0894 142.096 61.8271L139.904 65.1729C145.8 69.0356 154.117 70.7765 164.108 71.0607C174.142 71.3462 186.113 70.1668 199.519 67.9658C226.329 63.5643 259.192 55.021 294.329 45.6197C364.765 26.7743 444.329 4.50024 504 4.5V0.5ZM142.096 61.8271C131.787 55.0727 128.911 46.7584 130.243 39.2476C131.606 31.559 137.459 24.2566 145.506 19.9507C153.512 15.667 163.467 14.4741 172.875 18.7063C182.275 22.9355 191.472 32.7406 197.603 51.132L201.397 49.8671C195.028 30.7585 185.225 19.8761 174.516 15.0585C163.814 10.2439 152.55 11.6449 143.619 16.4238C134.729 21.1805 127.925 29.4095 126.304 38.5491C124.652 47.8666 128.463 57.6773 139.904 65.1729L142.096 61.8271ZM197.603 51.132C201.974 64.2451 198.251 76.0154 188.638 86.8944C178.949 97.8586 163.384 107.758 144.522 116.765C106.818 134.77 56.7872 148.826 16.6452 160.84L17.792 164.672C57.7735 152.707 108.188 138.548 146.246 120.375C165.264 111.293 181.41 101.114 191.635 89.5432C201.935 77.8872 206.331 64.6666 201.397 49.8671L197.603 51.132Z' fill='#8F6CFF')

      .order__arrow.mobile
        svg(width='110' height='260' viewBox='0 0 110 260' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M98.5 259.5L109.534 239.212L86.4474 239.801L98.5 259.5ZM68.6173 1.98009C65.5395 0.939557 62.7249 0.659093 60.2059 1.25242C57.6517 1.85405 55.5951 3.30913 53.9939 5.38259C50.8906 9.40119 49.4284 15.8311 48.8548 23.5148C47.6986 39.0007 50.0699 61.366 52.6109 85.0016C55.1642 108.752 57.9052 133.896 57.6041 155.262C57.4536 165.94 56.5428 175.582 54.506 183.578C52.4648 191.591 49.3402 197.762 44.9068 201.721L47.5713 204.705C52.8348 200.004 56.2411 192.97 58.3822 184.565C60.5278 176.142 61.451 166.153 61.6037 155.318C61.909 133.659 59.1333 108.25 56.588 84.5741C54.0304 60.7835 51.7211 38.8485 52.8437 23.8126C53.4094 16.2354 54.8264 10.849 57.1598 7.82739C58.2769 6.38077 59.5779 5.5098 61.123 5.14587C62.7033 4.77364 64.7295 4.88809 67.3363 5.7694L68.6173 1.98009ZM44.9068 201.721C35.7144 209.931 26.9389 210.557 20.0289 207.327C12.9551 204.02 7.41627 196.477 5.33992 187.589C3.2743 178.747 4.69865 168.823 11.2215 160.831C17.7396 152.845 29.5909 146.5 48.9423 145.338L48.7027 141.345C28.5966 142.552 15.5478 149.205 8.12269 158.302C0.702338 167.393 -0.859638 178.635 1.44481 188.499C3.73853 198.317 9.92614 207.019 18.3348 210.95C26.9071 214.958 37.37 213.816 47.5713 204.705L44.9068 201.721ZM48.9423 145.338C63.4045 144.47 73.3031 145.833 80.1227 149.197C86.8106 152.497 90.7586 157.835 93.0918 165.558C95.4579 173.39 96.1233 183.554 96.218 196.293C96.2653 202.641 96.1718 209.569 96.091 217.116C96.0101 224.655 95.9421 232.795 96.0417 241.529L100.041 241.483C99.9424 232.796 100.01 224.693 100.091 217.159C100.171 209.633 100.266 202.657 100.218 196.263C100.123 183.516 99.4695 172.837 96.9209 164.401C94.3394 155.856 89.777 149.5 81.8925 145.61C74.1395 141.785 63.4035 140.463 48.7027 141.345L48.9423 145.338Z' fill='#8F6CFF')


      .order__col
        .order__img 
          img( loading="lazy" src="images/dist/order.webp", alt="")

        ul 
          li
            svg.icon
              use(xlink:href='sprite.svg#check')
            | Принимаем оплату картами российских банков и криптовалютой
          li
            img(loading="lazy" src="images/dist/pay-systems2.webp", alt="")
          each item in['Берем на себя оформление заказа и общение с продавцом','Применим все скидки и купоны магазина, если они есть','Доставим даже из тех магазинов, которые не везут к нам']
            li
              svg.icon
                use(xlink:href='sprite.svg#check')
              =item  