.popup#consultation 
  .popup__window
    .popup__close 
      svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.45708 6.30919e-07C7.85403 0.00052089 8.1754 0.322738 8.17488 0.719692L8.1573 14.1364C8.15678 14.5333 7.83456 14.8547 7.43761 14.8542C7.04065 14.8536 6.71928 14.5314 6.7198 14.1345L6.73738 0.717808C6.7379 0.320854 7.06012 -0.000519685 7.45708 6.30919e-07Z' fill='#6E627A')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 7.42708C0 7.03013 0.321795 6.70833 0.71875 6.70833H14.1354C14.5324 6.70833 14.8542 7.03013 14.8542 7.42708C14.8542 7.82404 14.5324 8.14583 14.1354 8.14583H0.71875C0.321795 8.14583 0 7.82404 0 7.42708Z' fill='#6E627A')

    h2.title Мы свяжемся с Вами в <br> ближайшее время! 
    br
    .popup__form
      form(method="post")
        input(type='hidden' name='project_name' value='Netlivery')
        input(type='hidden' name='admin_email' value='250296a@gmail.com')
        input(type='hidden' name='form_subject' value='Netlivery') 
        .form-wrap
          .form-wrap__input
            input(type="text" name="Имя" placeholder="ФИО" required)
          .form-wrap__input
            input(type="text" name="Телефон" placeholder="Телефон" required)
        button(type="submit").btn Получить консультацию

    p Нажимая на кнопку ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ, вы соглашаетесь с 
      a(href="#") политикой обработки персональных данных и конфиденциальности    

.popup#done 
  .popup__window.tac
    .popup__close 
      svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.45708 6.30919e-07C7.85403 0.00052089 8.1754 0.322738 8.17488 0.719692L8.1573 14.1364C8.15678 14.5333 7.83456 14.8547 7.43761 14.8542C7.04065 14.8536 6.71928 14.5314 6.7198 14.1345L6.73738 0.717808C6.7379 0.320854 7.06012 -0.000519685 7.45708 6.30919e-07Z' fill='#6E627A')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 7.42708C0 7.03013 0.321795 6.70833 0.71875 6.70833H14.1354C14.5324 6.70833 14.8542 7.03013 14.8542 7.42708C14.8542 7.82404 14.5324 8.14583 14.1354 8.14583H0.71875C0.321795 8.14583 0 7.82404 0 7.42708Z' fill='#6E627A')

    h2.title Спасибо, <br> Ваша заявка принята!
    h3 Мы свяжемся с вами в ближайшее время 