.seo
  .container 
    .rotare-elem-wrap
      .rotare-elem
        img( loading="lazy" src="images/dist/rotare-elem.webp", alt="")
    .seo__wrap      
      .seo__text
        | Найти поставщика, проконсультироваться о всех возможностях реализации <br> проекта и после осуществить закупку, доставку и таможенное оформление с <br> нашим комплексным сервисом. Уважаемые коллеги, вы можете положиться на <br> наш профессионализм!       
        | Найти поставщика, проконсультироваться о всех возможностях реализации <br> проекта и после осуществить закупку, доставку и таможенное оформление с <br> нашим комплексным сервисом. Уважаемые коллеги, вы можете положиться на <br> наш профессионализм!       
      .seo__open-txt 
        span Узнать больше
      .seo__hide-txt 
        span Скрыть
