// USER VARIABLES SECTION

$accent: #5740A0 // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: rgba(110, 98, 122, 0.9) // Text Color
$lineheight: 1.65 // Document Line Height
$userfont: 'Jost', sans-serif// User Font Family
$white: #fff
$black: #000
$dark: #263238
$transition: all .3s
$secondary: #FECC00
// $systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 30px
// $gutter: $grid-gutter-width

// IMPORT SECTION

@import 'blocks/mixins/_flex'
@import 'blocks/mixins/_rem'
@import 'blocks/mixins/_media'
@import 'node_modules/normalize.css/normalize'
@import 'node_modules/slick-carousel/slick/slick'
@import 'node_modules/aos/dist/aos'

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap')
@import '../../fonts/icons/css/icon.css'



::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	position: relative
	overflow-x: hidden



