extends layouts/main
block title
  | FAQ
block main
  include includes/popup
  .wrapper
    .content
        include includes/header
        
        include includes/faq        

        include includes/order-bot

        include includes/seo
        

    include includes/footer


  include includes/scripts 