extends layouts/main
block vars
  - var description = 'Сервис доставки NETLIVERY предоставляет возможность заказать и получить товары с iHerb.com, одного из крупнейших интернет-магазинов здорового питания, диетических добавок и натуральной косметики без переплат ';
  - var keywords;
  - var ogtitle;
  - var ogtype;
  - var ogurl;
  - var ogimg;
block title
  | Заказ товаров с iHerb – купить товары за границей, доставка товаров из за рубежа | NETLIVERY
block main
  include includes/popup
  .wrapper
    .content
        include includes/header
        .hero
          .container
            .hero__wrap 
              .hero__col
                h2.hero__title.title Как заказать товары с iHerb.com через сервис доставки NETLIVERY?
                p iHerb.com - один из крупнейших интернет-магазинов здорового питания, диетических добавок и натуральной косметики. Он предлагает огромный выбор товаров от ведущих мировых производителей, включая такие бренды, как Now Foods, Solgar, Garden of Life и многие другие.
                br
                p Однако, многие люди не могут совершать покупки на iHerb.com из-за того, что он не осуществляет доставку в Россию. В этом случае можно воспользоваться услугами сервиса доставки NETLIVERY, который предоставляет возможность заказать и получить товары с iHerb.com без переплат и наценок.
                .hero__pay-systems
                  img(loading="lazy" src="images/dist/pay-systems1.webp", alt="")
                
                .hero__bg-desc.hero__bg-desc--light
                  p 
                    b Товары мировых брендов по-прежнему доступны для вас
                  p Проблемы с оплатой российскими картами за рубежом? Воспользуйтесь нашей новой услугой 
                    a(href="#") выкуп товаров
                    |  в любом интернет-магазине, либо услугами 
                    a(href="#") нашего байера 

                .hero__btn-wrap 
                  a(href="#").btn.btn--light.consultation-js Получить консультацию 
                  a(href="#order" data-scroll).btn.order-js Оформить заказ  
             
              .hero__col 
                .hero__img 
                  img( loading="lazy" src="images/dist/hero6.webp", alt="") 

              .hero__bg-map 
                img(loading="lazy" src="images/dist/map.webp", alt="")
        
        
        .gradient-section(data-aos="fade-up" style="background-image: url('images/dist/section-bg1.webp')")
          .container
            h2.title.title--light.tac Почему стоит заказать через нас?
            br
            br
            .gradient-section__count-wrap
              each item in[{"title":"Быстрая доставка","desc":"Товар доставляется напрямую с американского iHerb.com через курьерские службы. Вы получите оригинальный товар без наценок!"},{"title":"В 4 раза дешевле, чем в России","desc":"Через нас можно заказать товары без наценок торговых компаний. Можете проверить сами и сравнить цены с Wildberries и другими магазинами. Мы не торгуем, а помогаем доставить из Америки!"},{"title":"Помогаем с оплатой и оформлением","desc":"Мы можем оплачивать товары на iHerb и поможем с этим вам. Заполним декларации. Проверим ваш заказ по нормативам, сэкономим время и нервы!"},{"title":"Самое большое сообщество по iHerb","desc":"Уже 3 года мы ведем телеграм-канал iHealth Guru, в котором более 31 000 лояльных подписчиков. Рассказываем о новинках, скидках и маст-хэвах. И вы можете нам доверять!"}]
                .gradient-section__count-item
                  .gradient-section__count-item-count
                  div
                    .gradient-section__count-item-title=item.title
                    .gradient-section__count-item-desc=item.desc
        
        .order-steps(data-aos="fade-up")
          .container 
            h2.title.tac Итак, для заказа с iHerb.com через сервис доставки NETLIVERY необходимо выполнить несколько простых шагов:

            .order-steps__wrap
              .order-steps__item
              
                span Шаг 1: Регистрация на iHerb.com
                p Перед заказом товаров на iHerb.com необходимо зарегистрироваться на сайте. Для этого нужно перейти на главную страницу сайта и нажать на кнопку "Sign In" в правом верхнем углу. Затем выбрать "Create an Account" и заполнить регистрационную форму. Вам потребуется ввести свое имя, фамилию, адрес электронной почты и пароль.
              
              .order-steps__item
                span Шаг 2: Выбор товаров и копирование ссылки
                p После того, как вы зарегистрировались на iHerb.com, можете начать выбирать товары для заказа. Перейдите на страницу товара, который вы хотите заказать, и скопируйте ссылку на страницу товара. Вернитесь на сайт NETLIVERY и перейдите на страницу заказа товаров. Вставьте скопированную ссылку в поле "Ссылка на товар".
                
              .order-steps__item
                span Шаг 3: Заполнение формы заказа
                p После того, как вы скопировали ссылку на товар, вам нужно заполнить форму заказа на сайте NETLIVERY. В форме заказа вам необходимо указать все данные, необходимые для доставки: ФИО, адрес доставки, контактный телефон и адрес электронной почты. Также вам нужно указать, какой вид доставки вы хотите: курьерскую или до пункта выдачи.
              
              .order-steps__item
                span Шаг 4: Оформление заказа и оплата
                p После того, как Вы выбрали нужные товары на сайте iHerb.com, необходимо оформить заказ. Для этого, вам нужно скопировать ссылку на товар и отправить ее нам через форму на нашем сайте. Мы свяжемся с вами для уточнения деталей заказа.
                p При оформлении заказа, необходимо указать вашу контактную информацию, адрес доставки и желаемый способ доставки. Для удобства наших клиентов, мы принимаем оплату российскими банковскими картами и криптовалютой.
                p Оплата производится по QR-коду, который вы получите на свой мобильный телефон. Мы принимаем карты Visa, Mastercard, Maestro, МИР и другие. Также, Вы можете произвести оплату криптовалютой, такой как Bitcoin, Ethereum, Litecoin и другие.
                p После успешной оплаты, мы оформляем заказ на сайте iHerb.com и производим оплату за товары. Мы также собираем информацию, необходимую для прохождения товаров через таможню.
              
              .order-steps__item
                span Шаг 5: Доставка и получение товаров
                p Мы работаем с курьерскими службами и почтовыми операторами, чтобы доставить Ваш заказ из США в Россию быстро и надежно. Вы можете выбрать удобный для вас способ доставки, такой как доставка до почтового отделения или до двери.
                p После отправки вашего заказа, мы вышлем вам номер отслеживания, чтобы вы могли отслеживать перемещение посылки. После прибытия посылки в Россию, Вы получите уведомление о том, что заказ прибыл в пункт выдачи.
                p Вы можете забрать свой заказ в пункте выдачи, предъявив паспорт и номер отслеживания. В некоторых случаях, доставка до двери может быть более удобным вариантом, особенно если у вас нет возможности забрать свой заказ в пункте выдачи.
              
              .order-steps__item
                span Шаг 6: Возврат товаров
                p Если вы получили товар, который не соответствует описанию или пришел поврежденным, вы можете вернуть его нам в течение 14 дней после получения заказа. Для этого, необходимо связаться с нами и сообщить о проблеме.

        
        .txt-img(data-aos="fade-up")
          .container
            .txt-img__wrap 
              .txt-img__col
                h2.txt-img__title.title Невозможность самостоятельного заказа
                p 
                  b Несомненно, интернет-магазин iHerb.com является одним из самых популярных и удобных для заказа качественной продукции. Здесь вы найдете огромный выбор различных товаров народного потребления, начиная от витаминов и добавок до натуральной косметики и средств гигиены. Однако, сейчас самостоятельная покупка товаров с iHerb.com стала затруднительной по нескольким причинам.
                p 
                  b Во-первых, сайт был заблокирован в России, и к нему можно получить доступ только через VPN. Во-вторых, с февраля 2022 года стало невозможно оплатить заказ российскими картами. И в-третьих, сам американский Айхерб приостановил доставку товаров в Россию.
                p 
                  b Однако, не стоит отчаиваться! Наш сервис NETLIVERY предоставляет возможность заказать товары с iHerb.com с нашей помощью. Мы предоставляем полный спектр услуг: от оформления заказа до доставки курьерскими службами. Выбирайте товары на сайте iHerb.com, делайте заказ через нашу форму, оплачивайте стоимость заказа, а мы возьмем на себя оформление документов и доставку товаров из США напрямую в ваш город.
                p 
                  b С нашей помощью вы получите товары быстро и по выгодной цене. Помимо этого, мы также предлагаем услуги по консолидации посылок и отправке нескольких заказов одновременно, что позволяет значительно сэкономить на доставке.
                p 
                  b Таким образом, несмотря на сложности с самостоятельным заказом товаров с iHerb.com, с помощью сервиса NETLIVERY вы можете легко и удобно получить все необходимые товары. Наша команда готова помочь вам сделать заказ и доставить его прямо в ваш город, без лишних затрат и проблем.
              .txt-img__col 
                .txt-img__img.txt-img__img--bg 
                  img( loading="lazy" src="images/dist/flat4.webp", alt="")            

        .section.txt-img.txt-img--reverse(data-aos="fade-up")
          .container
            .txt-img__wrap 
              .txt-img__col
                h2.txt-img__title.title Комиссия 10% 
                p Доставим ваши посылки от 7 дней и от $10, дадим возможность следить за процессом 24/7, проведем через таможню. 
                p Наш собственный метод экспресс-доставки в пункт выдачи рядом с вами или курьером «до двери». Вы экономите деньги и время за счет того, что этот метод доставки без объединения посылок. Доступно для посылок (отправлений), сформированных только до прихода товаров на склад.
              .txt-img__col 
                .txt-img__img 
                  img( loading="lazy" src="images/dist/commision.webp", alt="")
        
        include includes/deliverykg  

        include includes/gradient2 
        
        include includes/price 
        
        .gradient-section(data-aos="fade-up" style="background-image: url('images/dist/section-bg2.webp')")
          .container
            h2.title.title--light Отправляйте нам ссылки на товары с сайта <br> iHerb.Мы закажем товары за Вас
            .gradient-section__wrap
              .gradient-section__col
                ol 
                  li Переходите на сайт Айхерб, переключайте на Американскую версию и собирайте корзину товаров. Обязательно включите VPN2. 
                  li Нажимайте на оранжевый треугольник в правом верхнем углу “Поделиться корзиной”
                  li Отправляйте нам ссылку на корзину в заявку на сайт
                  li Мы позвоним Вам, рассчитаем стоимость корзины и доставки. Учитываются скидки на товары.
                br
                p Комиссия оператора за совершение заказа составит 6% от стоимости заказа, но не менее 295 руб.
            
              .gradient-section__col
                .gradient-section__img.gradient-section__img--bg
                  img( loading="lazy" src="images/dist/flat1.webp", alt="")  

     
        include includes/process
        
        include includes/faq        

        include includes/order2

        .seo
          .container 
            .rotare-elem-wrap
              .rotare-elem
                img( loading="lazy" src="images/dist/rotare-elem.webp", alt="")
            .seo__wrap      
              .seo__text
                | Сервис доставки NETLIVERY предоставляет возможность заказать и получить товары с iHerb.com, одного из крупнейших интернет-магазинов здорового питания, диетических добавок и натуральной косметики без переплат и наценок.       
              .seo__open-txt 
                span Узнать больше
              .seo__hide-txt 
                span Скрыть

        

    include includes/footer


  include includes/scripts 